body {
    margin: 0;
}

.navbar-container {
    display: flex;
    background-color: white;
    padding: 0;
    justify-content: space-between;
}

.brand-logo img {
    height: 80px;
}

.nav-list ul {
    list-style: none;
    display: flex;
    gap: 15px
}

.nav-list ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.content {
    margin: 0 100px;
    display: flex;
    align-items: center;
    height: calc(100vh - 84px);
}
.content-image img {
    height: 300px;
}
.title {
    font-size: 64px;
    margin-bottom: 0;
}

.social-media ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 15px;
    margin: 0;
    position: fixed;
    top: 50vh;
    right: 0;
    gap: 10px;
    background-color: red;
    border-radius: 10px 0 0 10px;
}
.social-media ul li a {
    color: black;
}

#more-info-btn {
    font-size: 18px;
    background-color: red;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
}